# This file contains common pin mappings for the BIGTREETECH EBBCan
# Canbus board. To use this config, the firmware should be compiled for the
# STM32G0B1 with "8 MHz crystal" and "USB (on PA11/PA12)" or "CAN bus (on PB0/PB1)".
# The "EBB Can" micro-controller will be used to control the components on the nozzle.

# See docs/Config_Reference.md for a description of parameters.

[mcu Can_Exrtuder]
#serial: /dev/serial/by-id/usb-Klipper_Klipper_firmware_12345-if00
#make KCONFIG_CONFIG=config.EBB42_1_2
#CanUpload 
#python3 ~/CanBoot/scripts/flash_can.py -i can0 -f ~/klipper/out/klipper.bin -u 606b7cee0d04
canbus_uuid: 5a7fd8db38b0

#5 913160ce8266
#? 606b7cee0d04

[adxl345]
cs_pin: Can_Exrtuder: PB12
spi_software_sclk_pin: Can_Exrtuder: PB10
spi_software_mosi_pin: Can_Exrtuder: PB11
spi_software_miso_pin: Can_Exrtuder: PB2
axes_map: z,-x,-y

[resonance_tester]
accel_chip: adxl345
probe_points: 150, 150, 20

[extruder]
step_pin: Can_Exrtuder: PD0
dir_pin: !Can_Exrtuder: PD1
enable_pin: !Can_Exrtuder: PD2
microsteps: 16
rotation_distance: 4.683 #4.637
#nozzle_diameter: 0.400
#filament_diameter: 1.750
#heater_pin: Can_Exrtuder: PB13
#sensor_type: EPCOS 100K B57560G104F
#sensor_pin: Can_Exrtuder: PA3
#control: pid
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
#min_temp: 0
#max_temp: 250

# sensor_type:MAX31865
# sensor_pin: Can_Exrtuder: PA4
# spi_bus: spi1
# rtd_nominal_r: 100
# rtd_reference_r: 430
# rtd_num_of_wires: 2

[tmc2209 extruder]
uart_pin: Can_Exrtuder: PA15
run_current: 0.850
hold_current: 0.100
stealthchop_threshold: 0
driver_TBL: 0
driver_TOFF: 4
driver_HEND: 6
driver_HSTRT: 7

[fan]
pin: Can_Exrtuder: PA1
kick_start_time: 1.000

#[temperature_sensor chamber_temp]
#sensor_pin: PA4 #Can_Exrtuder: PA3
#sensor_type: ATC Semitec 104GT-2


#[neopixel hotend_rgb]
#pin: Can_Exrtuder:PD3

#[bltouch]
#sensor_pin: ^Can_Exrtuder:PB8
#control_pin: Can_Exrtuder:PB9

#[filament_switch_sensor switch_sensor]
#switch_pin: Can_Exrtuder:PB4

[filament_switch_sensor toolhead_filament_sensor]
pause_on_runout: False
#   When set to True, a PAUSE will execute immediately after a runout
#   is detected. Note that if pause_on_runout is False and the
#   runout_gcode is omitted then runout detection is disabled. Default
#   is True.
runout_gcode:
    {% if printer["gcode_macro TOOL_LOAD"].loaded == 1 and
          printer["gcode_macro OFFSET_CAL"].start_tool == -1 and
          printer["gcode_macro _START_PRINT"].printing == 1 %}
        {action_respond_info("Toolhead filament runout detected @ During print")}
        PAUSE
        #G1 E-110 F1000
	{% endif %}

#   A list of G-Code commands to execute after a filament runout is
#   detected. See docs/Command_Templates.md for G-Code format. If
#   pause_on_runout is set to True this G-Code will run after the
#   PAUSE is complete. The default is not to run any G-Code commands.
insert_gcode:
    {action_respond_info("Toolhead filament insert detected")}
    LOAD_FILAMENT
    
#   A list of G-Code commands to execute after a filament insert is
#   detected. See docs/Command_Templates.md for G-Code format. The
#   default is not to run any G-Code commands, which disables insert
#   detection.
event_delay: 0.5
#   The minimum amount of time in seconds to delay between events.
#   Events triggered during this time period will be silently
#   ignored. The default is 3 seconds.
#pause_delay: 0.5
#   The amount of time to delay, in seconds, between the pause command
#   dispatch and execution of the runout_gcode. It may be useful to
#   increase this delay if OctoPrint exhibits strange pause behavior.
#   Default is 0.5 seconds.
switch_pin: ^!Can_Exrtuder:PB3
#   The pin on which the switch is connected. This parameter must be
#   provided.

[gcode_macro UNLOAD_FILAMENT]
gcode:
    {% set current_tool = printer["gcode_macro TOOL_UNLOAD"].current_tool %}
    {% if current_tool == 0 %}                                                                                 #set requested extruder name
        {% set c_extruder = "extruder" %}
    {% else %}
        {% set c_extruder = ("extruder%s" % current_tool) %}
    {% endif %}
    {% set start_temp = printer[c_extruder].target %}
    SAVE_GCODE_STATE NAME=unload_gcode
    {action_respond_info("Unload filament")}
    {% if printer["gcode_macro _START_PRINT"].printing == 1 %}
        PAUSE
	{% endif %}
    _HEAT_TOOL T={printer["gcode_macro TOOL_LOAD"].next_tool} W=1
    M83
    G4 P1000
    G0 E-15 F2000
    G0 E10 F500
    G4 P2000
    G0 E-80 F1000
    M400
    SET_HEATER_TEMPERATURE HEATER={c_extruder} TARGET={start_temp}
    RESTORE_GCODE_STATE NAME=unload_gcode

####

[gcode_macro LOAD_FILAMENT]
gcode:
    SAVE_GCODE_STATE NAME=load_filament_gcode
    
    {% if printer["gcode_macro OFFSET_CAL"].start_tool == -1 and printer["gcode_macro _START_PRINT"].printing == 0 or
          printer.pause_resume.is_paused == True and printer["gcode_macro _START_PRINT"].printing == 1 %}
        {% set current_tool = printer["gcode_macro TOOL_UNLOAD"].current_tool %}
        {% if current_tool == 0 %}                                                                                 #set requested extruder name
            {% set c_extruder = "extruder" %}
        {% else %}
            {% set c_extruder = ("extruder%s" % current_tool) %}
        {% endif %}
        {% set start_temp = printer[c_extruder].target %}
        _HEAT_TOOL T={current_tool}
        TEMPERATURE_WAIT SENSOR={c_extruder} MINIMUM=171
        M83
        G4 P3000
        G1 E70 F1000
        {% if 'xy' in printer.toolhead.homed_axes %}
            PRIME_NOZZLE R=4
        {% else %}
            _HEAT_TOOL T={current_tool} W=1
            G1 E30 F500
    	{% endif %} 
        SET_HEATER_TEMPERATURE HEATER={c_extruder} TARGET={start_temp}
    {% endif %}
    RESTORE_GCODE_STATE NAME=load_filament_gcode
    
####

#[filament_motion_sensor motion_sensor]
#switch_pin: ^Can_Exrtuder:PB3



