#####################################################
#                      Macros                       #
#####################################################

[gcode_macro _START_PRINT]
variable_printing = 0
variable_chamber_max_t = 0
variable_z_for_textured = -0.03

#todo
gcode:
    {% set i = printer["gcode_macro PRINTER_VAR"].num_of_tools %}
    {% for i in range(i) %}
    	{% set var = "tool_%s_filament_park_t_stamp" % ( i|string ) %}
		SET_GCODE_VARIABLE MACRO=_TOOL_CHANGE_VAR VARIABLE={var} VALUE=-456789
	{% endfor %}

    SET_GCODE_VARIABLE MACRO=_START_PRINT VARIABLE=chamber_max_t VALUE=0
    SAVE_VARIABLE VARIABLE=chamber_max_t VALUE=0
    SET_GCODE_VARIABLE MACRO=_START_PRINT VARIABLE=printing VALUE=1
    SET_GCODE_VARIABLE MACRO=_TOOL_CHANGE_VAR VARIABLE=tool_0_filament_park_t_stamp VALUE=-450000
    
    #{% if printer.z_tilt.applied == False %}
        #Z_TILT_ADJUST
    #{% endif %}
    # {% set var = "tool_%s_prime" % (printer["gcode_macro TOOL_UNLOAD"].current_tool|string) %}
    # {% set prime = printer["gcode_macro _TOOL_CHANGE_VAR"][var] %}
    G28
    _CHECK_PLATE
    G4 P2000
    _START_PRINT2

####

[gcode_macro _START_PRINT2]
#variable_z_for_textured = -0.03

#todo
#For testing
variable_plate_on_invert = 0
gcode:

    _CHECK_PLATE
    {% if printer.probe.last_query != plate_on_invert %}
        G90
        G1 Y{printer["gcode_macro PRINTER_VAR"].print_area[3]} Z20
        CANCEL_PRINT
        {% set i = 8 %}
        {% for i in range(i) %}
            {action_respond_info("Insert Build plate and restart" % t_called )}
        {% endfor %}
    {% else %}
        {% set var = "tool_%s_prime" % (printer["gcode_macro TOOL_UNLOAD"].current_tool|string) %}
        {% set prime = printer["gcode_macro _TOOL_CHANGE_VAR"][var] %}
        
        {% if printer.bed_mesh.profile_name|string|length == 0 %}
            {action_respond_info("Adaptive mesh")}
            BED_MESH_CALIBRATE PROFILE=adaptive ADAPTIVE=1
        {% elif printer.z_tilt.applied == False %}
            Z_TILT_ADJUST
            # {% elif printer["gcode_macro TOOL_LOAD"].loaded == 0 %}
            #     TOOL_LOAD
            # {% elif prime == 1 or 2 %}
            #     PRIME_NOZZLE R={printer["gcode_macro _TOOL_CHANGE_VAR"].prime_nozzle_times}
        {% endif %}
      
        {% if printer["gcode_macro TOOL_LOAD"].loaded|int == 0 %}
            TOOL_LOAD
        {% elif prime == 1 or 2 %}
            PRIME_NOZZLE R={printer["gcode_macro _TOOL_CHANGE_VAR"].prime_nozzle_times}
        {% endif %}
        TOOL_LOAD
        SET_GCODE_VARIABLE MACRO=_TOOL_CHANGE_VAR VARIABLE=tool_0_filament_park_t_stamp VALUE=-456789
        {% if 'Textured' in printer["gcode_macro PRINTER_VAR"].curr_bed_type|string %}
        {action_respond_info("Adjust Z offset %s for %s plate" % (z_for_textured|string, printer["gcode_macro PRINTER_VAR"].curr_bed_type|string) )}
        SET_GCODE_OFFSET Z_ADJUST={printer["gcode_macro _START_PRINT"].z_for_textured} MOVE=0
        {% endif %}

    {% endif %}

[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print

rename_existing: _CANCEL_PRINT_2

gcode:
    TURN_OFF_HEATERS
    SET_GCODE_VARIABLE MACRO=_START_PRINT VARIABLE=printing VALUE=0
    SET_GCODE_VARIABLE MACRO=_TOOL_CHANGE_VAR VARIABLE=slicer_travel_speed VALUE={printer["gcode_macro _TOOL_CHANGE_VAR"].motion_slow}
    BED_MESH_CLEAR
    M107
    _CANCEL_PRINT_2
    TOOL_UNLOAD
    {% set i = printer["gcode_macro PRINTER_VAR"].num_of_tools %}
    {% for i in range(i) %}
    	{% set var = "tool_%s_first_load" % ( i|string ) %}
		SET_GCODE_VARIABLE MACRO=_TOOL_CHANGE_VAR VARIABLE={var} VALUE=1
	{% endfor %}

####

[gcode_macro BED_MESH_CALIBRATE]

rename_existing: _BED_MESH_CALIBRATE_2
gcode:
  {% set t = params.T|default(0)|float %}
  {% set adaptive = params.ADAPTIVE|default(0)|int %}

  #{% if printer.idle_timeout.state == "Printing" %}
    #{action_respond_info("This command cannot be used while printing")}
  #{% if printer.toolhead.homed_axes != "xyz" %}
    #{action_respond_info("Please home XYZ first")}
  #{% else %}
    _LOWER_STEPPER_CURRENTS O=1
    {% if printer.toolhead.homed_axes != "xyz" %}
        SET_GCODE_VARIABLE MACRO=_HOMING_VAR VARIABLE=tool_wait VALUE=2
        G28
	{% endif %}
    Z_TILT_ADJUST
    #SAVE_GCODE_STATE NAME=G29_state
    #G90
    #G1 Z10 F240
    {% if t > 30.0 %}
      M190 S{t}
    {% endif %}
    {% if printer.configfile.config.probe.pin == "^!Can_Exrtuder:PB9" %}
        {action_respond_info("Mesh_Probe = Switch")}
        TOOL_UNLOAD P=0
    {% elif "PF5" in(printer.configfile.config.probe.pin) %}
        {action_respond_info("Probe = Piezo")}
        T0 P=0
        #TOOL_LOAD P=0
    {% else %}
        {action_respond_info("Unknown probe pin")}
        M112
    {% endif %}
    _BED_MESH_CALIBRATE_2 ADAPTIVE={adaptive}
    {% if 'S' in params %}
      M140 S{params.S}
    {% endif %}
    G90
    G1 Z10 F240
    #TOOL_LOAD P=0
    SET_GCODE_VARIABLE MACRO=_HOMING_VAR VARIABLE=tool_wait VALUE=0
    #G1 X150 Y155 F6000
    #RESTORE_GCODE_STATE NAME=G29_state MOVE=0
    _LOWER_STEPPER_CURRENTS O=0

  
######################################################################
# Filament Change
######################################################################

# M600: Filament Change. This macro will pause the printer, move the
# tool to the change position, and retract the filament 50mm. Adjust
# the retraction settings for your own extruder. After filament has
# been changed, the print can be resumed from its previous position
# with the "RESUME" gcode.

[pause_resume]

[gcode_macro M600]
gcode:
    # {% set X = params.X|default(100)|float %}
    # {% set Y = params.Y|default(0)|float %}
    # {% set Z = params.Z|default(10)|float %}
    SAVE_GCODE_STATE NAME=M600_state
    G91
    G1 E-.8 F2700
    G1 Z{Z}
    G90
    UNLOAD_FILAMENT
    
    # PAUSE
    # G91
    # G1 E-.8 F2700
    # G1 Z{Z}
    # G90
    # G1 X{X} Y{Y} F3000
    # G91
    # G1 E-110 F1000
    RESTORE_GCODE_STATE NAME=M600_state

####

[gcode_macro Z_TILT_ADJUST]

rename_existing: _Z_TILT_ADJUST_2
gcode:
    _LOWER_STEPPER_CURRENTS O=1
    {% if printer.toolhead.homed_axes != "xyz" %}
        SET_GCODE_VARIABLE MACRO=_HOMING_VAR VARIABLE=tool_wait VALUE=1
        {% set tool_wait = 1 %}
        G28
	{% endif %}
    {% if printer.configfile.config.probe.pin == "^!Can_Exrtuder:PB9" %}
        {action_respond_info("Probe = Switch")}
        {% set park = "tool_%s_filament_park" % printer["gcode_macro TOOL_UNLOAD"].current_tool %}
        {% set park = printer["gcode_macro _TOOL_CHANGE_VAR"][park]|int %}
         TOOL_UNLOAD P={park}
         _Z_TILT_ADJUST_2
    {% elif "PF5" in(printer.configfile.config.probe.pin) %}
        {action_respond_info("Probe = Piezo")}
        T0 P=0
        #TOOL_LOAD P=0
        _Z_TILT_ADJUST_2
    {% else %}
        {action_respond_info("Unknown probe pin")}
        M112
    {% endif %}
    #{% if printer["gcode_macro _HOMING_VAR"].tool_wait == 1 %}
    {% if tool_wait == 1 %}
        G0 Z10
        #TOOL_LOAD P=0
        SET_GCODE_VARIABLE MACRO=_HOMING_VAR VARIABLE=tool_wait VALUE=0
    {% endif %}
    _LOWER_STEPPER_CURRENTS O=0
    
####

[gcode_macro PROBE_ACCURACY]

rename_existing: _PROBE_ACCURACY_2
gcode:

    TOOL_UNLOAD
    G0 X150 Y150
    _PROBE_ACCURACY_2

####

[idle_timeout]
timeout: 3600
gcode:
    TURN_OFF_HEATERS
    SET_LED LED=lighting WHITE=0
#M84

####