[include mainsail.cfg][include mainsail.cfg]

[gcode_macro _CLIENT_VARIABLE]
variable_use_custom_pos  : True  ; use custom park coordinates for x,y [True/False] 
variable_custom_park_x   : 150.0   ; custom x position; value must be within your defined min and max of X
variable_custom_park_y   : 30.0  ; custom y position; value must be within your defined min and max of Y
#variable_custom_park_dz  : 2.0   ; custom dz value; the value in mm to lift the nozzle when move to park position 
#variable_retract         : 1.0   ; the value to retract while PAUSE
#variable_cancel_retract  : 5.0   ; the value to retract while CANCEL_PRINT
#variable_speed_retract   : 35.0  ; retract speed in mm/s
#variable_unretract       : 1.0   ; the value to unretract while RESUME
#variable_speed_unretract : 35.0  ; unretract speed in mm/s
#variable_speed_hop       : 15.0  ; z move speed in mm/s
#variable_speed_move      : 100.0 ; move speed in mm/s
#variable_park_at_cancel  : False ; allow to move the toolhead to park while execute CANCEL_PRINT [True,False]
## !!! Caution [firmware_retraction] must be defined in the printer.cfg if you set use_fw_retract: True !!!
#variable_use_fw_retract  : False ; use fw_retraction instead of the manual version [True/False] 
gcode:

####

[printer]
kinematics: corexy
max_velocity: 500
max_accel: 10000
max_z_velocity: 5
max_z_accel: 100

[include main_board-manta-m8p-V1_1.cfg]
[include ebb42_toolhead.cfg]
[include mmb_cubic_heaters.cfg]

[include mainsail.cfg]
[include macros.cfg]
[include tool_change.cfg]
[include offset_calibration.cfg]
[include printer_variables.cfg]
[include buttons.cfg]
[include tests.cfg]
[include sounds.cfg]
[include timelapse.cfg]

# Proximity switch
[probe]

## microswitch version
pin: ^!Can_Exrtuder:PB9
x_offset: 22
y_offset: 11
#z_offset = -3.0

## PZ probe version
#pin: ^!PF5
#x_offset: 0.0
#y_offset: 0.0
#z_offset = -0.100

speed: 5.0 #   Speed (in mm/s) of the Z axis when probing. The default is 5mm/s.
samples: 2
#sample_retract_dist: 3.0
#samples_tolerance_retries: 1
#lift_speed: 10
activate_gcode:
    {% if "PF5" in(printer.configfile.config.probe.pin) %}
        G4 P1000
        #SET_TMC_CURRENT STEPPER=stepper_z CURRENT=0.4
        #SET_TMC_CURRENT STEPPER=stepper_z1 CURRENT=0.4
        #SET_TMC_CURRENT STEPPER=stepper_z2 CURRENT=0.4
    {% endif %}

#deactivate_gcode:
    #{% set run_current = printer.configfile.config['tmc2209 stepper_z'].run_current | float %}
    #SET_TMC_CURRENT STEPPER=stepper_z CURRENT={run_current}
    #SET_TMC_CURRENT STEPPER=stepper_z1 CURRENT={run_current}
    #SET_TMC_CURRENT STEPPER=stepper_z2 CURRENT={run_current}
####

[extruder]
heater_pin: PE3 # HE0
sensor_pin: PA1 # T0
nozzle_diameter: 0.4
filament_diameter: 1.75
max_extrude_only_distance: 200.0
sensor_type: ATC Semitec 104NT-4-R025H42G
#control: pid
#pid_Kp: 22.444
#pid_Ki: 0.953
#pid_Kd: 132.138
min_temp: 0
max_temp: 300
pressure_advance = 0.04
max_extrude_cross_section: 2
min_extrude_temp: 0  #REMOVE

#[verify_heater extruder]
#check_gain_time: 40
#heating_gain: 2
#max_error: 600

[extruder1]
heater_pin: PB5 # HE1 
sensor_pin: PA2 # T1
nozzle_diameter: 0.400
filament_diameter: 1.750
max_extrude_only_distance: 200.0
sensor_type: ATC Semitec 104NT-4-R025H42G
#control: pid
#pid_Kp: 30
#pid_Ki: 1.8
#pid_Kd: 125
min_temp: 0
max_temp: 300
max_extrude_cross_section: 2
min_extrude_temp: 0  #REMOVE
#max_extrude_cross_section: 5

[extruder2]
heater_pin: PB6 # HE2
sensor_pin: PA3 # T2
nozzle_diameter: 0.400
filament_diameter: 1.750
max_extrude_only_distance: 200.0
sensor_type: ATC Semitec 104NT-4-R025H42G
#control: pid
#pid_Kp: 30
#pid_Ki: 1.8
#pid_Kd: 125
min_temp: 0
max_temp: 300
max_extrude_cross_section: 2
min_extrude_temp: 0  #REMOVE
#max_extrude_cross_section: 5

[extruder3]
heater_pin: PE1 # HE3
sensor_pin: PA4 # T3
nozzle_diameter: 0.400
filament_diameter: 1.750
max_extrude_only_distance: 200.0
sensor_type: ATC Semitec 104NT-4-R025H42G
#control: pid
#pid_Kp: 30
#pid_Ki: 1.8
#pid_Kd: 125
min_temp: 0
max_temp: 300
max_extrude_cross_section: 2
min_extrude_temp: 0  #REMOVE
#max_extrude_cross_section: 5

[extruder4]
heater_pin: Cubic:gpio10
sensor_pin: Cubic:gpio26
nozzle_diameter: 0.400
filament_diameter: 1.750
max_extrude_only_distance: 200.0
sensor_type: ATC Semitec 104NT-4-R025H42G
#control: pid
#pid_Kp: 30
#pid_Ki: 1.8
#pid_Kd: 125
min_temp: 0
max_temp: 300
max_extrude_cross_section: 2
min_extrude_temp: 0  #REMOVE
#max_extrude_cross_section: 5

####

[extruder5]
heater_pin: Cubic:gpio11
sensor_pin: Cubic:gpio27
nozzle_diameter: 0.400
filament_diameter: 1.750
max_extrude_only_distance: 200.0
sensor_type: ATC Semitec 104GT-2
#control: pid
#pid_Kp: 30
#pid_Ki: 1.8
#pid_Kd: 125
min_temp: 0
max_temp: 300
max_extrude_cross_section: 2
min_extrude_temp: 0  #REMOVE
#max_extrude_cross_section: 5

####

[heater_fan hotend_fan]
pin: Can_Exrtuder: PA0
heater: extruder , extruder1, extruder2, extruder3, extruder4, extruder5
heater_temp: 50

####

[heater_bed]
heater_pin: PB7
sensor_pin: PA0 # TB 
sensor_type: ATC Semitec 104NT-4-R025H42G
#control: watermark
min_temp: 0
max_temp: 120
#control = pid
#pid_kp = 59.691
#pid_ki = 0.752
#pid_kd = 1184.120

####
[manual_stepper nozzle_sense]  #Dummy stepper to add an Endstop for nozzle measurement
step_pin: Can_Exrtuder: PA8
dir_pin: Can_Exrtuder: PA9
enable_pin: Can_Exrtuder: PA10
microsteps: 16
rotation_distance: 23.000
endstop_pin: ^!PC1

[input_shaper]
#shaper_freq_x: 53.7  # frequency for the X mark of the test model
#shaper_freq_y: 52.6  # frequency for the Y mark of the test model
#shaper_type: ei

[firmware_retraction]
retract_length: 1.2
retract_speed: 35
unretract_extra_length: 0
unretract_speed: 25

[gcode_arcs]
resolution: 1.0

[exclude_object]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe]
#*# z_offset = -3.385
#*#
#*# [input_shaper]
#*# shaper_type_x = zv
#*# shaper_freq_x = 71.0
#*# shaper_type_y = mzv
#*# shaper_freq_y = 33.8
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 46.553
#*# pid_ki = 1.212
#*# pid_kd = 446.909
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 24.402
#*# pid_ki = 2.854
#*# pid_kd = 52.159
#*#
#*# [extruder1]
#*# control = pid
#*# pid_kp = 25.272
#*# pid_ki = 2.674
#*# pid_kd = 59.704
#*#
#*# [extruder2]
#*# control = pid
#*# pid_kp = 27.802
#*# pid_ki = 2.808
#*# pid_kd = 68.811
#*#
#*# [extruder3]
#*# control = pid
#*# pid_kp = 30.317
#*# pid_ki = 3.675
#*# pid_kd = 62.529
#*#
#*# [extruder4]
#*# control = pid
#*# pid_kp = 27.055
#*# pid_ki = 3.164
#*# pid_kd = 57.829
#*#
#*# [extruder5]
#*# control = pid
#*# pid_kp = 27.322
#*# pid_ki = 3.140
#*# pid_kd = 59.425
#*#
#*# [bed_mesh default_smooth]
#*# version = 1
#*# points =
#*# 	0.007377, 0.013002, 0.060502, 0.089877, 0.058002, -0.004498
#*# 	-0.000748, 0.001127, 0.009877, 0.034252, 0.017377, -0.035123
#*# 	-0.009498, -0.015748, 0.004252, 0.013002, -0.032623, -0.087623
#*# 	-0.043873, -0.059498, -0.068873, -0.049498, -0.075123, -0.161373
#*# 	-0.010748, -0.046998, -0.047623, -0.043248, -0.086998, -0.157623
#*# 	0.053002, 0.024877, 0.014252, -0.000123, -0.047623, -0.095748
#*# x_count = 6
#*# y_count = 6
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 22.0
#*# max_x = 290.0
#*# min_y = 11.0
#*# max_y = 290.0
